<main>
    <div id="main-container" class="-theme">
        <header>
            <div class="row">
                <div class="col-sm-7">
                    <div class="company-logo">
                        <a href="index.html"><img class="img-responsive" src="{{globalservice.GlobalData?.Logo}}" /></a>
                    </div>
                    <h1 style="display: inline;">{{globalservice.GlobalData?.Title}}</h1>
                </div>

                <div class="col-sm-5">
                    <ul class="list-inline header-nav">
                        <li class="border-blue"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Tell a friend"><span class="fa fa-commenting"></span></a></li>
                        <li class="border-green"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Print Page"><span class="fa fa-print"></span></a></li>
                        <li class="border-orange"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Add To Favorites"><span class="fa fa-heart"></span></a></li>
                        <li class="border-purple"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Help"><span class="fa fa-question-circle"></span></a></li>
                        <li class="border-red"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Contact"><span class="fa fa-phone"></span></a></li>
                    </ul>

                    <div class="visible-xs">
                        <select class="form-control mobile-nav">
                                <option>Home</option>
                                <option>How to Use Site</option>
                                <option>About Us</option>
                                <option>Search for Services</option>
                                <option>Assess My Needs</option>
                                <option>Apply for Benefits</option>
                                <option>Knowledge Center</option>
                                <option>Calendar of Events</option>
                                <option>Send a Comment</option>
                                <option>Programs Info</option>
                                <option>Long Term Care</option>
                                <option>Survey</option>
                                <option>Web Intake</option>
                            </select>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </header>

        <span class="theme-palette-trigger"><span class="glyphicon glyphicon-adjust"></span></span>
        <div id="theme-palette">
            <span class="theme-palette-close"></span>
            <div class="theme-container">
                <h3>Color Options</h3>
                <p>Customize and Preview your dashboard. </p>
                <div class="default-theme-palette active">
                    <ul class="list-unstyled list-inline color-list">
                        <li class="color-1"></li>
                        <li class="color-2"></li>
                        <li class="color-3"></li>
                        <li class="color-4"></li>
                        <li class="color-5"></li>
                    </ul>
                    <div class="theme-colors">
                        <div class="left-content">
                            <h6>Default</h6>
                            <small class="text-muted">pages default color pallete</small>
                        </div>
                        <span class="glyphicon glyphicon-ok-sign theme-indicator"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="green-theme-palette" title="green-theme">
                    <ul class="list-unstyled list-inline color-list">
                        <li class="color-1"></li>
                        <li class="color-2"></li>
                        <li class="color-3"></li>
                        <li class="color-4"></li>
                        <li class="color-5"></li>
                    </ul>
                    <div class="theme-colors">
                        <div class="left-content">
                            <h6>Green</h6>
                            <small class="text-muted">pages default color pallete</small>
                        </div>
                        <span class="glyphicon glyphicon-ok-sign theme-indicator"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="orange-theme-palette" title="orange-theme">
                    <ul class="list-unstyled list-inline color-list">
                        <li class="color-1"></li>
                        <li class="color-2"></li>
                        <li class="color-3"></li>
                        <li class="color-4"></li>
                        <li class="color-5"></li>
                    </ul>
                    <div class="theme-colors">
                        <div class="left-content">
                            <h6>Orange</h6>
                            <small class="text-muted">pages default color pallete</small>
                        </div>
                        <span class="glyphicon glyphicon-ok-sign theme-indicator"></span>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="purple-theme-palette" title="purple-theme">
                    <ul class="list-unstyled list-inline color-list">
                        <li class="color-1"></li>
                        <li class="color-2"></li>
                        <li class="color-3"></li>
                        <li class="color-4"></li>
                        <li class="color-5"></li>
                    </ul>
                    <div class="theme-colors">
                        <div class="left-content">
                            <h6>Purple</h6>
                            <small class="text-muted">pages default color pallete</small>
                        </div>
                        <div class="theme-indicator">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="red-theme-palette" title="red-theme">
                    <ul class="list-unstyled list-inline color-list">
                        <li class="color-1"></li>
                        <li class="color-2"></li>
                        <li class="color-3"></li>
                        <li class="color-4"></li>
                        <li class="color-5"></li>
                    </ul>
                    <div class="theme-colors">
                        <div class="left-content">
                            <h6>Red</h6>
                            <small class="text-muted">pages default color pallete</small>
                        </div>
                        <div class="theme-indicator">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-palette-overlay"></div>


        <nav>
            <ul class="list-inline font-control">
                <li><span class="font-sm" data-toggle="tooltip" data-placement="bottom" title="Small Font">A</span></li>
                <li><span class="font-md" data-toggle="tooltip" data-placement="bottom" title="Medium Font">A</span></li>
                <li><span class="font-lg" data-toggle="tooltip" data-placement="bottom" title="Large Font">A</span></li>
                <li><span class="font-contrast" data-toggle="tooltip" data-placement="bottom" title="Black & White">A</span></li>
                <li class="customer-support"><a href="#"><span data-toggle="tooltip" data-placement="bottom" title="Customer Support" class="fa fa-comments-o"></span></a></li>
            </ul>

            <ul class="list-unstyled navigation">
                <li  [class.active] ="isDisabled(['/page',item.Value])" *ngFor="let item of globalservice.GlobalData?.Menu">
                    <a [routerLink]="['/page',item.Value]" routerLinkActive="active" (click)="setlink(['/page',item.Value])" >{{item.Name}} 
                    <span class="nav-icon"><span class="fa fa-a"></span></span></a></li>
            </ul>
            <img src="src/images/customer-support.jpg" class="hidden-xs">
        </nav>

        <section>
            <router-outlet></router-outlet>
        </section>


        <footer class="fade-effect">
            <span class="footer-content">
                    {{globalservice.GlobalData?.Title}}
                </span>
            <span class="scroll-top fade-effect">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </span>
        </footer>
    </div>
</main>